<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="A scrabble score tracking program">
    <meta name="keywords" content="Python,Flask,HTML,CSS">
    <meta name="author" content="Murdo Maclachlan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    <title> Scrabble Score Tracker </title>
  </head>
  <body>
    <h1> Scrabble Score Tracker </h1>
      <p>RESULTS:</br>
        All Scores:
        -<span class={{ colour1 }}>{{ player1 }}</span>{{ score1 }}
        -<span class={{ colour2 }}>{{ player2 }}</span>{{ score2 }}
        -<span class={{ colour3 }}>{{ player3 }}</span>{{ score3 }}
        -<span class={{ colour4 }}>{{ player4 }}</span>{{ score4 }}
      </p></br>
      <p>
        Winners:
        -<span class={{ wcolour1 }}>{{ winner1 }}</span>{{ wscore1 }}
        -<span class={{ wcolour1 }}>{{ winner2 }}</span>{{ wscore2 }}
        -<span class={{ wcolour1 }}>{{ winner3 }}</span>{{ wscore3 }}
        -<span class={{ wcolour1 }}>{{ winner4 }}</span>{{ wscore4 }}
      </p>
  </body>
</html>
