<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="A scrabble score tracking program">
    <meta name="keywords" content="Python,Flask,HTML,CSS">
    <meta name="author" content="Murdo Maclachlan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    <title> Scrabble Score Tracker </title>
  </head>
  <body>
    <h1> Scrabble Score Tracker </h1>
      <p>Please input each player's score for round {{ roundNumber }}.</p>
        <div class="form">
          <form action="/game" method="post">
            <input type="hidden" name="loop" value={{ loop }}>
            <p class="{{ colour1 }}">{{ input1 }}</p>
            <input type="{{ type1 }}" name="{{ input1 }}" required>
            <p class="{{ colour2 }}">{{ input2 }}</p>
            <input type="{{ type2 }}" name="{{ input2 }}" required>
            <p class="{{ colour3 }}">{{ input3 }}</p>
            <input type="{{ type3 }}" name="{{ input3 }}" required>
            <p class="{{ colour4 }}">{{ input4 }}</p>
            <input type="{{ type4 }}" name="{{ input4 }}" required>
            Continue to another round?</br>
            <input type="radio" name="continue" value="True" required>Yes</br>
            <input type="radio" name="continue" value="False" required>No</br>
            <input type="submit">
          </form>
        </div>
  </body>
</html>
