<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="A scrabble score tracking program">
    <meta name="keywords" content="Python,Flask,HTML,CSS">
    <meta name="author" content="Murdo Maclachlan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    <title> Scrabble Score Tracker </title>
  </head>
  <body>
    <h1> Scrabble Score Tracker </h1>
        <p> Please select the number of players </p>
        <div class="form">
          <form action="/setup" method="post">
            <input type="radio" name="number" value="2" required>Two</br>
            <input type="radio" name="number" value="3" required>Three</br>
            <input type="radio" name="number" value="4" required>Four</br></br>
            <input type="submit">
          </form>
        </div>
  </body>
</html>
