<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="A scrabble score tracking program">
    <meta name="keywords" content="Python,Flask,HTML,CSS">
    <meta name="author" content="Murdo Maclachlan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    <title> Scrabble Score Tracker </title>
  </head>
  <body>
    <h1> Scrabble Score Tracker </h1>
        <p> Please enter the details for player {{ i }}. </p>
        <div class="form">
          <form action="/setup" method="post">
            <input type="hidden" name="number" value={{ x }}>
            Name:</br>
            <input type="text" name="name"></br>
            Colour:</br>
            <input type="radio" name="colour" value="blue" required>Blue</br>
            <input type="radio" name="colour" value="green" required>Green</br>
            <input type="radio" name="colour" value="red" required>Red</br>
            <input type="radio" name="colour" value="yellow" required>Yellow</br></br>
            <input type="submit">
          </form>
        </div>
  </body>
</html>
